# Logs
pnpm-debug.log*
*.log

# Dependencies
node_modules

# Build files
.wrangler/
dist
dist-ssr
*.local
*.tsbuildinfo
.wrangler

# Environment variables and local files
.env*
!.env.example
*.local*

# Playwright
.playwright-cli

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
