name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  typecheck-api:
    name: API type checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.14"

      - name: Run type checking
        run: |
          cd api
          uv run pyright

  test-api:
    name: API tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.14"

      - name: Run tests
        run: |
          cd api
          uv run pytest
